.web_sec{
  padding-top: 40px;
}
.main_tit_l{
  padding-left: 100px;
  font-size: 48px;
  font-weight: 500;
  display: flex;
  position: relative;
}
.main_tit_l::after{
  content: "";
  width: calc(100% - 17% - 30px);
  height: 1px;
  background-color: var(--color-black);
  position: absolute;
  top: 30px;
  right: 0;
}


/* 슬라이드 */
.wrapper{
  overflow: hidden;
}
.wrapper .slide_container{
  width: 520%;
  padding: 120px;
}
.wrapper .slide_container .slide_wrapper{
  display: flex;
  flex-wrap: nowrap;
}
.wrapper .slide_container .slide{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.wrapper .slide_container .slide.original{
  animation: 40s linear infinite normal none running infiniteAnimation1;
}
.wrapper .slide_container .slide.clone{
  animation: 40s linear infinite infiniteAnimation2;
}
.wrapper .slide_container .slide.stop{
  animation-play-state: paused;
}
.monitor_wrap{
  text-align: center;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  transform: scale(1);
  margin-left: 0.4%;
  margin-right: 0.4%;
}
.monitor_wrap .item{
  padding-bottom: 30px;
}
.monitor_wrap .item img{
  width: 100%;
}
.monitor_wrap>h4{
  margin-bottom: 15px;
  font-size: 20px;
}
  
  
@keyframes infiniteAnimation1{
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
  
@keyframes infiniteAnimation2{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}