@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
  font-family: 'ROEHOE-CHAN';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Shiningstar';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --color-dark-black: #212121;
  --color-black: #323635;
  --color-main: #00A2C6;
}

*{
  margin: 0;
  padding: 0;
  color: var(--color-black);
  letter-spacing: -1px;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', 'sans-serif';
}

body{
  background: linear-gradient(to top, #f6f8f8, #f0f4f5);
}

a{
  text-decoration: none;
  font-family: 'Pretendard Variable', 'sans-serif';
}

ul, li{
  list-style: none;
}

.w100{
  width: 100%;
}

.w1700{
  width: 1700px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-black); /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}

::selection{
  color: var(--color-dark-black);
  background: #bbc2cd;
}