.about_sec{
    padding: 40px 0;
}
.main_tit{
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: relative;
}
.main_tit::before{
    content: "";
    width: calc(100% - 55% - 30px);
    height: 1px;
    background-color: var(--color-black);
    position: absolute;
    top: 30px;
    left: 0;
}
.main_tit::after{
    content: "";
    width: calc(100% - 55% - 30px);
    height: 1px;
    background-color: var(--color-black);
    position: absolute;
    top: 30px;
    right: 0;
}
.about_wrap{
    display: flex;
}


/* 왼쪽 */
.about_txt_l{
    padding: 120px 200px 120px 90px;
    border-right: 1px solid #ccc;
}
.about_txt_l1{
    display: flex;
    gap: 35px;
}
.about_txt_l1>h3{
    font-size: 70px;
    font-weight: 500;
}
.about_txt_l1>h4{
    margin-top: 120px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 5px;
    border-bottom: 1px solid #ccc;
}
.about_txt_l2{
    padding-top: 75px;
}
.about_txt_l2>h5{
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}
.about_txt_l2 p{
    padding-bottom: 40px;
    line-height: 35px;
    color: var(--color-main);
}
.about_txt_l2 h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 35px
}


/* 오른쪽 */
.about_txt_r{
    flex: 1;
}
.about_txt_r1>p{
    padding: 0 120px 40px;
    line-height: 35px;
}
.about_txt_r1{
    border-bottom: 1px solid #ccc;
}
.about_txt_r2{
    padding: 40px 120px;
    position: relative;
}
.about_txt_r2>img:first-child{
    width: 530px;
    height: 640px;
    opacity: 0.4;
}
.about_txt_r2>p{
    font-size: 15px;
    line-height: 35px;
    position: absolute;
    top: 100px;
    right: 20px;
}
.about_txt_r2>img:last-child{
    position: absolute;
    top: 230px;
    right: 20px;
}

@media screen and (max-width: 1699px){
    .about_sec>.about_wrap{
        width: 100%;
        display: block;
    }
    .main_tit{
        margin-bottom: calc(100vw * (10 / 400));
    }
    .about_txt_l{
        padding: 0;
        border: none;
        display: flex;
        justify-content: center;
    }
    .about_txt_l1{
        justify-content: center;
    }
    .about_txt_l1>h3{
        font-size: 48px;
    }
    .about_txt_l1>h4{
        margin-top: 80px;
        font-size: 24px;
    }
    .about_txt_l2{
        display: flex;
        gap: 10px;
    }
}

@media screen and (max-width: 1023px){
    .about_txt_l1>h3{
        font-size: calc(100vw * (40 / 400));
    }
    .about_txt_l1>h4{
        font-size: calc(100vw * (16 / 400));
    }
}